*{
  box-sizing: border-box;
  margin: 0 auto;
}
/* debug */
.debug nav {
  border: 2px solid black;
  background-color: lightblue;
}
.debug main {
  border: 2px solid black;
  background-color: lightgrey;
}
.debug footer {
  border: 2px solid black;
  background-color: grey;
}
.debug .nav-footer {
  border: 2px solid black;
  background-color: pink;
}
.debug main div {
  border: 2px solid black;
  background-color: lightgreen;
}
/* general */
.wrap {
  display: flex;
}
ul {
  margin: 0;
}
li {
  list-style: none;
  color: #6A6D72;
}
p {
  color: #6A6D72;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
i {
  margin-right: 3px;
  font-size: 1.2em;
  color: darkgray;
}
.i_hide {
  position: absolute;
  color: white;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.ms_hide:hover .playlist_img {
  filter: brightness( 40% );
 }
.ms_hide:hover .i_hide {
  opacity: 1;
}
.txt_light:hover {
  filter: brightness(500%);
}
.zoom_itm:hover {
  transform: scale(1.5);
}
.hr:hover .min_hr::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top:-5px;
  left: 90px;
  border-radius: 50%;
  background-color: green;
  z-index: 901;
}
.hr:hover .vol::before {
  display: none;
  left: 35px;
}
.hr:hover .vol::before {
  display: block;
}
/* fixed top right */
.fix_t_r {
  position: fixed;
  display: flex;
  height: 70px;
  width: 100%;
  top: 0;
  right: 0;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 912;
}
.btn_t_r {
  display: flex;
  border: 2px solid white;
  align-self: center;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  margin: 0 70px 0 0;
}
.btn_t_r p {
  color: white;
  align-self: center;
  margin: 0;
}
/* nav */
nav {
  position: fixed;
  display: flex;
  background-color: #000000;
  flex-direction: column;
  width: 200px;
  height: calc(100vh - 100px);
  min-height: 400px;
  margin: 0;
  padding-left: 10px;
  z-index: 929;
}
.hide-ever {
  display: none
}
.hide-ever i {
  color: white;
  font-size: 1.8em;
}

nav ul {
  padding: 0;
  margin: 20px 0 10px 0;
}
.logo {
  width: 100%;
  height: 50px;
}
nav img {
  width: 90%;
  margin: 10px 0 0 0;
}
.nav_utility {
  margin: 0;
}
.far {
  font-size: 1.5em;
}
.ms_play {
  margin: 0;
  height: 100%;
}
.ms_play ul {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.ms_play h3,
.ms_play li {
  text-align: left;
  margin: 5px 0 5px 0;
}
.nav_utility ul li:first-child::before {
  position: absolute;
  content: "";
  height: 17px;
  width: 3px;
  border-radius: 10px;
  background-color: springgreen;
  margin-left: -6px;
  z-index: 999;
}
.nav-footer {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  bottom: 100px;
  width: 200px;
  height: 80px;
  margin: 0;
  z-index: 900;
}
.nav-footer p,
.nav-footer hr,
.nav-footer h3 {
  margin: 5px 20px 5px 20px;
  font-size: 1em;
}


/* main */
main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #141922;
  margin-left: 200px;
  padding-bottom: 70px;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  padding-top: 100px;
}

.ms_main_list {
  margin: 5vh;
  align-self: center;
  flex-wrap: wrap;
}
.ms_main_list li {
  padding-right: 10px;
}
main li {
  display: inline-block;
  list-style: none;
}
.ms_main_list li:first-child::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 50px;
  border-radius: 10px;
  background-color: springgreen;
  margin-left: 20px;
  margin-top: 20px;
  z-index: 999;
}

.ms_tit_text {
  align-self: flex-start;
  margin: 0;
}
.ms_row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.ms_playlist {
  text-align: center;
  width: 200px;
  height: 300px;
  margin: 0 10px 0 10px
}
.ms_hide {
  position: relative;
  justify-content: center;
  align-items: center;
}
.ms_playlist img {
  width: 100%;
}
/* footer */
footer {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  position: fixed;
  background-color: #282828;
  width: 100%;
  height: 100px;
  padding: 20px;
  z-index: 998;
}
.footer_left,
.footer_right,
.footer_center {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.footer_left {
  margin-left: 0;
}
.footer_right {
  margin-right: 0;
}

.footer_left img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
.footer_text,
.footer_i {
  align-self: center;
  margin-right: 5px;
}
.footer_left h5 {
  margin: 0;
}
.footer_center {
  flex-direction: column;
  justify-content: center;
}
.btn_player {
  display: flex;
  justify-content: center;
}
.btn_player i {
  margin: 0 10px 3px 10px;
  align-self: center;
}
.fa-play-circle {
  font-size: 3em;
}
.player {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.player p {
  align-self: center;
  margin: 0;
}
.hr {
  display: flex;
  position: relative;
  width: 300px;
  height: 5px;
  background-color: white;
  border-radius: 20%;
  margin: 0 10px 0 10px;
}
.min_hr{
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: cadetblue;
  border-radius: 20%;
  z-index: 999;
}
.footer_icon {
  display: flex;
  align-self: center;
}
.footer_icon i {
  margin-right: 30px;
}

.footer_right .hr {
  width: 150px;
}
.footer_right .min_hr {
  width: 40px;
}

@media screen and ( max-width: 600px ) {
  nav {
    width: 50px;
  }
  main {
    margin-left: 50px;
  }
  .hide-xs {
    display: none;
  }
  .hide-ever {
    display: block;
    margin: 20px 0 0 0;
  }

}
